<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offerte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      OFFERTE DI DICEMBRE
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h2>Vola in Cina!</h2>
        <h3>Prezzo: 730 euro (ALL INCLUSIVE)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Voglia di mare? Zanzibar ti aspetta!</h2>
        <h3>Prezzo: 500 euro</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Programmi per Capodanno? Vieni a Madrid!</h2>
        <h3>Prezzo: 200 euro (Volo A/R)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo...</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
