<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Top 3 destinazioni</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="./assets/cities/madrid.jpg"></ion-img>
            <ion-card-subtitle>Spagna</ion-card-subtitle>
            <ion-card-title>Madrid</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Città moderna e d'arte, Madrid è conosciuta come la città della movida: i suoi abitanti hanno orari estremamente flessibili...
            <ion-button fill="outline" color="primary" expand="block" (click)="dettaglio('madrid')">Dettaglio</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="./assets/cities/newyork.jpg"></ion-img>
            <ion-card-subtitle>Stati Uniti</ion-card-subtitle>
            <ion-card-title>New York</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Vedere da vicino l’Empire State Building, Central Park, Times Square o ancora la Fifth Avenue.rappresenta il sogno di una vita per molte persone...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-img src="./assets/cities/moscow.jpg"></ion-img>
            <ion-card-subtitle>Russia</ion-card-subtitle>
            <ion-card-title>Mosca</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Città viva tutto l’anno e a qualsiasi ora del giorno e della notte, dove ha sede il Cremlino e alcune tra le più belle...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
