<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Risultati della ricerca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h1>Totale: 310 euro</h1>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/cities/madrid.jpg"></ion-img>
          <ion-item>
            <h1>Giorno: 25/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 9.30 (FCO)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 11.30 (MAD)</p>
          </ion-item>
          <ion-item>
            <h1>Giorno: 27/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 12.30 (MAD)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 14.30 (FCO)</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h1>Totale: 325 euro</h1>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/cities/madrid.jpg"></ion-img>
          <ion-item>
            <h1>Giorno: 25/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 11.20 (FCO)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 13.40 (MAD)</p>
          </ion-item>
          <ion-item>
            <h1>Giorno: 27/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 6.30 (MAD)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 8.30 (FCO)</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h1>Totale: 380 euro</h1>
        </ion-card-header>
        <ion-card-content>
          <ion-img src="assets/cities/madrid.jpg"></ion-img>
          <ion-item>
            <h1>Giorno: 25/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 10.00 (FCO)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 12.00 (MAD)</p>
          </ion-item>
          <ion-item>
            <h1>Giorno: 27/10/2020</h1>
          </ion-item>
          <ion-item lines="none">
            <p>Partenza: 21.15 (MAD)</p>
          </ion-item>
          <ion-item lines="none">
            <p>Arrivo: 23.10 (FCO)</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
