<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Il tuo prossimo viaggio</ion-card-subtitle>
        <ion-card-title>Dove ti piacerebbe andare?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Città di partenza</ion-label>
            <ion-input type="text" clearInput(ionChange)="setDisabled()" formControlName="cittaPartenza"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Città di arrivo</ion-label>
            <ion-input type="text" clearInput [disabled]="this.cittaRitornoDisab" formControlName="cittaRitorno"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Data di partenza</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" formControlName="dataPartenza"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Data di ritorno</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" formControlName="dataRitorno"></ion-datetime>
          </ion-item>
        </form>


      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
