<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Il tuo prossimo viaggio</ion-card-subtitle>
        <ion-card-title>Dove ti piacerebbe andare?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip color="primary">
          <ion-label>Havana</ion-label>
        </ion-chip>

        <ion-chip color="secondary">
          <ion-label>Los Angeles</ion-label>
        </ion-chip>

        <ion-chip color="tertiary">
          <ion-label>Parigi</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label>Budapest</ion-label>
        </ion-chip>

        <ion-chip color="danger">
          <ion-label>Madrid</ion-label>
        </ion-chip>

      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
